html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.navigation-bar {
  height: 65px;
}

.navigation-bar img {
  height: 40px;
  transform: translateY(8%);
}

.navigation-bar a:hover {
  border-bottom: 2px solid #60dafb;
}

#logo:hover {
  border-bottom: none;
}

nav h1 {
  margin-right: auto;
  font-weight: 700;
}

#logo {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
}

.navigation-bar a {
  text-decoration: none;
  margin-left: 24px;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.display-items {
  font-size: 12px;
  font-weight: 500;
  margin-left: 24px;
  border-radius: 100px;
  -webkit-appearance: none;
  padding: 6px 14px 6px 14px;
  border: 1px solid #dbdbdb;
}

.display-items:hover {
  cursor: pointer;
}

#splash-logo {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 100px;
  font-style: normal;
  transform: translateY(-40%);
  font-family: blenny, sans-serif;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.85);
}

#splash-logo:hover {
  cursor: pointer;
}

.landing {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}

#splash-logo::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../assets/Apple.png") url("../assets/Avocado.png")
    url("../assets/Banana.png") url("../assets/Carrot.png")
    url("../assets/Corn.png") url("../assets/Garlic.png")
    url("../assets/Lemon.png") url("../assets/Lettuce.png")
    url("../assets/Orange.png") url("../assets/Pepper.png")
    url("../assets/Tomato.png") url("../assets/post-office-lobby.png")
    url("../assets/arrow2.png") url("../assets/cart-ico.png");
}
